h1{
    font-family: 'Cinzel', serif;
    text-align: center;
}

header{
    background-image: linear-gradient(rgb(79, 79, 255),red);
}

body{
    height: 5000px;
}

section h2{
    font-size: 30px;
    font-family: 'Cinzel', serif;
}
body section{
    background-image: linear-gradient(red,white);
}
